<vg-header></vg-header>
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <div class="others">
              <!-- <vg-video></vg-video>  -->
              <vg-videostr></vg-videostr>
            </div>
          </div>
        </div><div class="row">
          <div class="col-md-12">
            <div class="me">
              <!-- <webcam></webcam> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        text
      </div>
    </div>
  </div>
</div>
<vg-footer></vg-footer>
